<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-reconciliationChannelSetting-edit" th:object="${reconciliationChannelSetting}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付渠道名称：</label>
				<div class="col-sm-8">
					<input id="channelName" name="channelName" th:field="*{channelName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道编号：</label>
				<div class="col-sm-8">
					<input id="fundChannelCode" name="fundChannelCode" th:field="*{fundChannelCode}" class="form-control" type="text">
				</div>
			</div>
			
			<div class="form-group">	
				<label class="col-sm-3 control-label">机构编码：</label>
				<div class="col-sm-8">
					<input id="instCode" name="instCode" class="form-control" type="text" th:field="*{instCode}">
				</div>
			</div>
			
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否有效：</label>
				<div class="col-sm-8">
					<select name="status" id="status" th:field="*{status}" class="form-control " th:with="type=${@dict.getType('reconciliation_fund_channel_status')}">
					  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
					  </option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">对账周期：</label>
				<div class="col-sm-8">
					<input id="billDay" name="billDay" th:field="*{billDay}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">扩展信息：</label>
				<div class="col-sm-8">
					<input id="extend" name="extend" th:field="*{extend}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">描述：</label>
				<div class="col-sm-8">
					<input id="reconcileDesc" name="reconcileDesc" th:field="*{reconcileDesc}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "reconciliation/reconciliationChannelSetting";
		$("#form-reconciliationChannelSetting-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-reconciliationChannelSetting-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
