<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mqExchangesQueue-edit" th:object="${mqExchangesQueue}">
            <input id="exchangesId" name="exchangesId" th:field="*{exchangesId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">队列ID：</label>
				<div class="col-sm-8">
					<input id="queueId" name="queueId" th:field="*{queueId}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "amqp/mqExchangesQueue";
		$("#form-mqExchangesQueue-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-mqExchangesQueue-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
