<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-channelPayOrder-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付流水号：</label>
				<div class="col-sm-8">
					<input id="paymentSeqNo" name="paymentSeqNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">请求批次号：</label>
				<div class="col-sm-8">
					<input id="requestBatchNo" name="requestBatchNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单类型：I（入款），B（退款），O（出款）：</label>
				<div class="col-sm-8">
					<input id="orderType" name="orderType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品码：</label>
				<div class="col-sm-8">
					<input id="productCode" name="productCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付编码：</label>
				<div class="col-sm-8">
					<input id="paymentCode" name="paymentCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">会员ID,现阶段是PT帐号：</label>
				<div class="col-sm-8">
					<input id="memberId" name="memberId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">金额：</label>
				<div class="col-sm-8">
					<input id="amount" name="amount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">币种：</label>
				<div class="col-sm-8">
					<input id="currency" name="currency" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">机构编码：</label>
				<div class="col-sm-8">
					<input id="instCode" name="instCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付结果通知状态：S（通知成功），F（通知失败），N（不通知）：</label>
				<div class="col-sm-8">
					<input id="paymentNotifyStatus" name="paymentNotifyStatus" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">通信类型，S（单笔通信），B（批量通信）：</label>
				<div class="col-sm-8">
					<input id="communicateType" name="communicateType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：A（待处理），C（已撤销），I（处理中），S（成功），F（失败）：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作员，默认SYSTEM：</label>
				<div class="col-sm-8">
					<input id="operator" name="operator" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">提交时间：</label>
				<div class="col-sm-8">
					<input id="gmtSubmit" name="gmtSubmit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">机构订单ID：</label>
				<div class="col-sm-8">
					<input id="instOrderId" name="instOrderId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="gmtCreate" name="gmtCreate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">业务发生时间：</label>
				<div class="col-sm-8">
					<input id="bizDate" name="bizDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最后修改时间：</label>
				<div class="col-sm-8">
					<input id="gmtModified" name="gmtModified" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="memo" name="memo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">提交状态：</label>
				<div class="col-sm-8">
					<input id="confirmStatus" name="confirmStatus" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付方式：</label>
				<div class="col-sm-8">
					<input id="payMode" name="payMode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">批次号：</label>
				<div class="col-sm-8">
					<input id="submitBatchNo" name="submitBatchNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原始订单号：</label>
				<div class="col-sm-8">
					<input id="orgiPaymentSeqNo" name="orgiPaymentSeqNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">期望时间：</label>
				<div class="col-sm-8">
					<input id="expectTime" name="expectTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">扩展参数：</label>
				<div class="col-sm-8">
					<input id="extension" name="extension" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">结算id：</label>
				<div class="col-sm-8">
					<input id="settlementId" name="settlementId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原订单结算id：</label>
				<div class="col-sm-8">
					<input id="orgiSettlementId" name="orgiSettlementId" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "payorder/channelPayOrder"
		$("#form-channelPayOrder-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-channelPayOrder-add').serialize());
	        }
	    }
	</script>
</body>
</html>
