<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-wechatProductAndSpecification-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品编号：</label>
				<div class="col-sm-8">
					<input id="productId" name="productId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品规格编号：</label>
				<div class="col-sm-8">
					<input id="productSpecificationId" name="productSpecificationId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品库存：</label>
				<div class="col-sm-8">
					<input id="stock" name="stock" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品价格：</label>
				<div class="col-sm-8">
					<input id="price" name="price" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品简介：</label>
				<div class="col-sm-8">
					<input id="intro" name="intro" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "wechat/wechatProductAndSpecification"
		$("#form-wechatProductAndSpecification-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-wechatProductAndSpecification-add').serialize());
	        }
	    }
	</script>
</body>
</html>
