<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								优惠券名称：<input type="text" name="name"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="wechat:wechatProductCoupon:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="wechat:wechatProductCoupon:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="wechat:wechatProductCoupon:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="wechat:wechatProductCoupon:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('wechat:wechatProductCoupon:edit')}]];
        var removeFlag = [[${@permission.hasPermi('wechat:wechatProductCoupon:remove')}]];
        var prefix = ctx + "wechat/wechatProductCoupon";
        var wechat_product_coupon_status = [[${@dict.getType('wechat_product_coupon_status')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "商品优惠券",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'productCouponId', 
					title : '自动编号',
					visible: false
				},
				{
					field : 'serialNo', 
					title : '序列号',
					sortable: true
				},
				{
					field : 'name', 
					title : '优惠券名称',
					sortable: true
				},
				{
					field : 'faceValue', 
					title : '优惠券面值',
					sortable: true
				},
				{
					field : 'quantity', 
					title : '优惠券总数量',
					sortable: true
				},
				{
					field : 'receiveNum', 
					title : '已领取数量',
					sortable: true
				},
				{
					field : 'residualQuantity', 
					title : '剩余优惠券数量',
					sortable: true
				},
				{
					field : 'conditionValue', 
					title : '使用条件',
					sortable: true
				},
				{
					field : 'conditionDesc', 
					title : '使用条件说明',
					sortable: true
				},
				{
					field : 'startTime', 
					title : '生效时间',
					sortable: true
				},
				{
					field : 'endTime', 
					title : '失效时间',
					sortable: true
				},
				{
					field : 'sort', 
					title : '排列次序',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					sortable: true,
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(wechat_product_coupon_status, row.status);
		            }
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.productCouponId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.productCouponId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
    </script>
</body>
</html>