<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								票据：<input type="text" name="ticket"/>
							</li>
							<li>
								加密类型：<input type="text" name="encryptType"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "tool/uesEnData";

        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "EUS加密列表",
		        showExport: true,
                columns: [				
				{
					field : 'ticket', 
					title : '票据',
					sortable: true
				},
				{
					field : 'encryptKey', 
					title : '加密密码',
					sortable: true
				},
				{
					field : 'encryptData', 
					title : '加密密文',
					sortable: true
				},
				{
					field : 'version', 
					title : '版本',
					sortable: true
				},
				{
					field : 'encryptType', 
					title : '加密类型',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>