@charset "utf-8";

menu{width:100%; height: 2.5rem; position: fixed; background: rgba(40,67,79,.9); bottom: 0px; left: 0px; right: 0px; color: rgba(255,255,255,1); z-index: 102;}
menu a{color: rgba(255,255,255,1) !important; display: table-cell; width: 1%; text-align: center; font-size: .65rem; vertical-align: middle; line-height: 1.5rem;}
menu a:active{background: rgba(0,0,0,.2); color: rgba(255,255,255,.5) !important;}
menu a.active{background: rgba(0,0,0,.2);}
menu i{display: block; font-size: 1.3rem; height: 1rem; padding-bottom: .2rem; position: relative;}
menu i.icon-cart span{width: 1rem; height: 1rem; line-height: 1rem; border-radius: 50%; background: rgba(255,255,0,1); box-shadow: 0 0 3px rgba(0,0,0,.3); color: rgba(244,83,91,1); position: absolute; top: 0; right: 10%; font-size: .8rem; font-style: initial;}

menu button{width: 100%; padding: 0 .5rem; font-size: .9rem; height: 2.7rem; line-height: 2.2rem; background: rgba(255,159,0,1); color: rgba(255,255,255,1);}
menu button:active{background:rgba(0,172,152,1) !important; color: rgba(255,255,255,1) !important;}
menu button:disabled{background: rgba(230,230,230,1); color: rgba(0,0,0,.1);}
menu button:active:disabled{background: rgba(230,230,230,1) !important; color: rgba(0,0,0,.1) !important;}