<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								资金源编码：<input type="text" name="fundChannelCode"/>
							</li>

							<li>
								资金渠道接口：<input type="text" name="fundChannelApi"/>
							</li>

							
							<li>
								备用资金源：<input type="text" name="fundChannelBackup"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="paychannel:tmFundChannelMaintain:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="paychannel:tmFundChannelMaintain:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="paychannel:tmFundChannelMaintain:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('paychannel:tmFundChannelMaintain:edit')}]];
        var removeFlag = [[${@permission.hasPermi('paychannel:tmFundChannelMaintain:remove')}]];
        var prefix = ctx + "paychannel/tmFundChannelMaintain";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "资金渠道维护期",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'maintainId', 
					title : '维护ID',
					visible: false
				},
				{
					field : 'fundChannelCode', 
					title : '资金源编码',
					sortable: true
				},
				{
					field : 'fundChannelApi', 
					title : '资金渠道接口',
					sortable: true
				},
				{
					field : 'description', 
					title : '描述',
					sortable: true
				},
				{
					field : 'maintainContent', 
					title : '维护公告',
					sortable: true
				},
				{
					field : 'gmtBegin', 
					title : '维护开始时间',
					sortable: true
				},
				{
					field : 'gmtEnd', 
					title : '维护结束时间',
					sortable: true
				},
				{
					field : 'fundChannelBackup', 
					title : '备用资金源',
					sortable: true
				},
				{
					field : 'memo', 
					title : '备注',
					sortable: true
				},
				{
					field : 'instCode', 
					title : '机构代码',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.maintainId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.maintainId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>