<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								IP地址：<input type="text" name="ipAddress"/>
							</li>

							<li>
								订单号：<input type="text" name="orderNo"/>
							</li>

							<li>
								监控事件ID：<input type="text" name="actionId"/>
							</li>

							<li>
								报警级别:
								<select id="alertLevel" name="alertLevel" th:with="type=${@dict.getType('monitor_log_alert_level')}">
								  <option value="">所有</option>
								  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
								  </option>
								</select>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="payorder:payMonitorLog:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="payorder:payMonitorLog:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('payorder:payMonitorLog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('payorder:payMonitorLog:remove')}]];
        var prefix = ctx + "payorder/payMonitorLog";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "监控日志",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'logId', 
					title : '日志ID',
					visible: false
				},
				{
					field : 'ipAddress', 
					title : 'IP地址',
					sortable: true
				},
				{
					field : 'orderNo', 
					title : '订单号',
					sortable: true
				},
				{
					field : 'eventMessage', 
					title : '事件描述',
					sortable: true
				},
				{
					field : 'actionId', 
					title : '监控事件Id',
					sortable: true
				},
				{
					field : 'alertLevel', 
					title : '报警级别',
					sortable: true
				},
				{
					field : 'logStatus', 
					title : '状态',
					sortable: true
				},
				{
					field : 'exceptionLog', 
					title : '异常日志',
					sortable: true
				},
				{
					field : 'memo', 
					title : '备注',
					sortable: true
				},
				{
					field : 'gmtCreate', 
					title : '创建时间',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>