<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="member:memberTmMemberIdentity:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="member:memberTmMemberIdentity:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="member:memberTmMemberIdentity:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="member:memberTmMemberIdentity:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('member:memberTmMemberIdentity:edit')}]];
        var removeFlag = [[${@permission.hasPermi('member:memberTmMemberIdentity:remove')}]];
        var prefix = ctx + "member/memberTmMemberIdentity";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "会员标识",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'memberId', 
					title : '会员编号',
					visible: true
				},
				{
					field : 'identity', 
					title : '会员标识',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					sortable: true,
					formatter: function(value, row, index) {
		                if (value == '0') {
		                	return '<span >无效</span>';
		                } else if (value == '1') {
		                    return '<span >有效</span>';
		                }
		            }
				},
				{
					field : 'isRecvAddr', 
					title : '收款标识',
					sortable: true,
					formatter: function(value, row, index) {
		                if (value == '0') {
		                	return '<span >不可以作为收款标识</span>';
		                } else if (value == '1') {
		                    return '<span >可以作为收款标识</span>';
		                }
		            }
				},
				{
					field : 'identityType', 
					title : '标识类型',
					sortable: true,
					formatter: function(value, row, index) {
		                if (value == '0') {
		                	return '<span >uid</span>';
		                } else if (value == '1') {
		                    return '<span >邮箱</span>';
		                }else if (value == '2') {
		                    return '<span >手机</span>';
		                }
		            }
				},
				{
					field : 'pid', 
					title : '平台类型',
					sortable: true,
					formatter: function(value, row, index) {
		                if (value == '1') {
		                	return '<span >齐家uid</span>';
		                } else if (value == '2') {
		                    return '<span >手机号</span>';
		                }else if (value == '3') {
		                    return '<span >登录名</span>';
		                }
		            }
				},
				{
					field : 'isUnionAccount', 
					title : '是否是统一账户',
					sortable: true,
					formatter: function(value, row, index) {
		                if (value == '0') {
		                	return '<span >是</span>';
		                } else if (value == '1') {
		                    return '<span >否</span>';
		                }
		            }
				},
				{
					field : 'unionAccountStatus', 
					title : '统一账户状态',
					sortable: true,
					formatter: function(value, row, index) {
		                if (value == '1') {
		                	return '<span >未确认登录名</span>';
		                } else if (value == '2') {
		                    return '<span >未确认登录密码</span>';
		                }else if (value == '3') {
		                    return '<span >未确认支付密码</span>';
		                }else if (value == '4') {
		                    return '<span >确认完毕</span>';
		                }
		            }
				},
				{
					field : 'memo', 
					title : '备注信息',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.memberId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.memberId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>