<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-memberTdAccountConfig-edit" th:object="${memberTdAccountConfig}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户类型：</label>
				<div class="col-sm-8">
					<input id="accountType" name="accountType" th:field="*{accountType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">一个会员该类型账户最大数目(负数代表无限制)：</label>
				<div class="col-sm-8">
					<input id="maxAccountCount" name="maxAccountCount" th:field="*{maxAccountCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态(0不可用;1可用)：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支持的会员类型，以,分隔：</label>
				<div class="col-sm-8">
					<input id="supportMemberTypes" name="supportMemberTypes" th:field="*{supportMemberTypes}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="memo" name="memo" th:field="*{memo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否共用基本户的支付密码：</label>
				<div class="col-sm-8">
					<input id="shareBasePwd" name="shareBasePwd" th:field="*{shareBasePwd}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户属性：1:对私、2:对公：</label>
				<div class="col-sm-8">
					<input id="accountAttr" name="accountAttr" th:field="*{accountAttr}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户子类型,对应dpm中账户类型:1:基本户    2:一般户    3:专用户    4:临时户    5:保证金户：</label>
				<div class="col-sm-8">
					<input id="accountSubType" name="accountSubType" th:field="*{accountSubType}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "member/memberTdAccountConfig";
		$("#form-memberTdAccountConfig-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-memberTdAccountConfig-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
