<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiran.weixin.mapper.WeixinSettingMapper">
    
    <resultMap type="WeixinSetting" id="WeixinSettingResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="weixinKey"    column="weixin_key"    />
        <result property="weixinValue"    column="weixin_value"    />
        <result property="appType"    column="app_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
	
	<sql id="selectWeixinSettingVo">
        select id, name, weixin_key, weixin_value, app_type,create_by, create_time, update_by, update_time, remark, del_flag from sys_weixin_setting
    </sql>
	
    <select id="selectWeixinSettingList" parameterType="WeixinSetting" resultMap="WeixinSettingResult">
        <include refid="selectWeixinSettingVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="name != null and name != ''"> and name = #{name}</if>
             <if test="weixinKey != null and weixinKey != ''"> and weixin_key = #{weixinKey}</if>
             <if test="weixinValue != null and weixinValue != ''"> and weixin_value = #{weixinValue}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
         </where>
    </select>
    
    <select id="selectWeixinSettingById" parameterType="Integer" resultMap="WeixinSettingResult">
        <include refid="selectWeixinSettingVo"/>
        where id = #{id}
    </select>
    
     <select id="getValueByKey" parameterType="String" resultMap="WeixinSettingResult">
        <include refid="selectWeixinSettingVo"/>
        where weixin_key = #{key}
    </select>
        
    <insert id="insertWeixinSetting" parameterType="WeixinSetting">
        insert into sys_weixin_setting (
			<if test="id != null and id != '' ">id, </if>
			<if test="name != null and name != '' ">name, </if>
			<if test="weixinKey != null and weixinKey != '' ">weixin_key, </if>
			<if test="weixinValue != null and weixinValue != '' ">weixin_value, </if>
			<if test="appType != null">app_type, </if>
			<if test="createBy != null and createBy != '' ">create_by, </if>
			<if test="remark != null and remark != '' ">remark, </if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
			create_time
        )values(
			<if test="id != null and id != ''">#{id}, </if>
			<if test="name != null and name != ''">#{name}, </if>
			<if test="weixinKey != null and weixinKey != ''">#{weixinKey}, </if>
			<if test="weixinValue != null and weixinValue != ''">#{weixinValue}, </if>
			<if test="appType != null">#{appType}, </if>
			<if test="createBy != null and createBy != ''">#{createBy}, </if>
			<if test="remark != null and remark != ''">#{remark}, </if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
			sysdate()
		)
    </insert>
	 
    <update id="updateWeixinSetting" parameterType="WeixinSetting">
        update sys_weixin_setting 
        <set>
            <if test="name != null and name != ''">name = #{name}, </if>
            <if test="weixinKey != null and weixinKey != ''">weixin_key = #{weixinKey}, </if>
            <if test="weixinValue != null and weixinValue != ''">weixin_value = #{weixinValue}, </if>
            <if test="appType != null">app_type = #{appType}, </if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy}, </if>
            <if test="remark != null and remark != ''">remark = #{remark}, </if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>
	
	<delete id="deleteWeixinSettingById" parameterType="Integer">
        delete from sys_weixin_setting where id = #{id}
    </delete>
	
    <delete id="deleteWeixinSettingByIds" parameterType="String">
        delete from sys_weixin_setting where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>