<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tmFundChannel-edit" th:object="${tmFundChannel}">
            <input id="fundChannelCode" name="fundChannelCode" th:field="*{fundChannelCode}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" th:field="*{name}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">描述：</label>
				<div class="col-sm-8">
					<input id="description" name="description" th:field="*{description}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">机构代码：</label>
				<div class="col-sm-8">
					<input id="instCode" name="instCode" th:field="*{instCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">业务类型：I（入款），O（出款）：</label>
				<div class="col-sm-8">
					<input id="bizType" name="bizType" th:field="*{bizType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">支付方式，如：网银，卡通，线下，手机充值卡，手机话费，微汇卡，积分。。。：</label>
				<div class="col-sm-8">
					<input id="payMode" name="payMode" th:field="*{payMode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">签约公司：Y（益充），S（微汇）：</label>
				<div class="col-sm-8">
					<input id="signedCrop" name="signedCrop" th:field="*{signedCrop}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否可用：VALID（可用），INVALID（不可用）：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">启用时间：</label>
				<div class="col-sm-8">
					<input id="validFrom" name="validFrom" th:field="*{validFrom}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">过期时间：</label>
				<div class="col-sm-8">
					<input id="validTo" name="validTo" th:field="*{validTo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单笔最大金额：</label>
				<div class="col-sm-8">
					<input id="maxAmount" name="maxAmount" th:field="*{maxAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单笔最小金额：</label>
				<div class="col-sm-8">
					<input id="minAmount" name="minAmount" th:field="*{minAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">T+15M表示15分钟到帐，T+1D表示一天到帐，H小时：</label>
				<div class="col-sm-8">
					<input id="expectArriveTime" name="expectArriveTime" th:field="*{expectArriveTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="gmtCreate" name="gmtCreate" th:field="*{gmtCreate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最后修改时间：</label>
				<div class="col-sm-8">
					<input id="gmtModified" name="gmtModified" th:field="*{gmtModified}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道类型(网银01-07，出款01-04)：</label>
				<div class="col-sm-8">
					<input id="memo" name="memo" th:field="*{memo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主键ID：</label>
				<div class="col-sm-8">
					<input id="channelMode" name="channelMode" th:field="*{channelMode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">此优先级在过滤，优选之后使用：</label>
				<div class="col-sm-8">
					<input id="priority" name="priority" th:field="*{priority}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "paychannel/tmFundChannel";
		$("#form-tmFundChannel-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-tmFundChannel-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
