<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-weixinUser-edit" th:object="${weixinUser}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户是否订阅该公众号标识，值为0时，代表此用户没有关注该公众号，拉取不到其余信息，只有openid和UnionID（在该公众号绑定到了微信开放平台账号时才有）。：</label>
                <div class="col-sm-8">
                    <input id="subscribe" name="subscribe" th:field="*{subscribe}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户的标识，对当前公众号唯一：</label>
                <div class="col-sm-8">
                    <input id="openid" name="openid" th:field="*{openid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户的昵称：</label>
                <div class="col-sm-8">
                    <input id="nickname" name="nickname" th:field="*{nickname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户的性别，值为1时是男性，值为2时是女性，值为0时是未知：</label>
                <div class="col-sm-8">
                    <input id="sex" name="sex" th:field="*{sex}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户所在城市：</label>
                <div class="col-sm-8">
                    <input id="city" name="city" th:field="*{city}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户所在国家：</label>
                <div class="col-sm-8">
                    <input id="country" name="country" th:field="*{country}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户所在省份：</label>
                <div class="col-sm-8">
                    <input id="province" name="province" th:field="*{province}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户的语言，简体中文为zh_CN：</label>
                <div class="col-sm-8">
                    <input id="language" name="language" th:field="*{language}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">	用户头像，最后一个数值代表正方形头像大小（有0、46、64、96、132数值可选，0代表640*640正方形头像），用户没有头像时该项为空。若用户更换头像，原有头像URL将失效。：</label>
                <div class="col-sm-8">
                    <input id="headimgurl" name="headimgurl" th:field="*{headimgurl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户关注时间，为时间戳。如果用户曾多次关注，则取最后关注时间：</label>
                <div class="col-sm-8">
                    <input id="subscribeTime" name="subscribeTime" th:field="*{subscribeTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">只有在用户将公众号绑定到微信开放平台帐号后，才会出现该字段。详见：获取用户个人信息（UnionID机制）：</label>
                <div class="col-sm-8">
                    <input id="unionid" name="unionid" th:field="*{unionid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">公众号运营者对粉丝的备注，公众号运营者可在微信公众平台用户管理界面对粉丝添加备注：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户所在的分组ID：</label>
                <div class="col-sm-8">
                    <input id="groupid" name="groupid" th:field="*{groupid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input id="tagidList" name="tagidList" th:field="*{tagidList}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">绑定标识 0 未绑定 1已经绑定：</label>
                <div class="col-sm-8">
                    <input id="bind" name="bind" th:field="*{bind}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">登录名  是openId：</label>
                <div class="col-sm-8">
                    <input id="username" name="username" th:field="*{username}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">密码：</label>
                <div class="col-sm-8">
                    <input id="password" name="password" th:field="*{password}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">名字：</label>
                <div class="col-sm-8">
                    <input id="name" name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <input id="phone" name="phone" th:field="*{phone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <input id="address" name="address" th:field="*{address}" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "weixin/weixinUser"
		$("#form-weixinUser-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/save", $('#form-weixinUser-edit').serialize());
			}
		});
	</script>
</body>
</html>
