<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-wechatOrder-edit" th:object="${wechatOrder}">
            <input id="orderId" name="orderId" th:field="*{orderId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单单号：</label>
				<div class="col-sm-8">
					<input id="orderNo" name="orderNo" th:field="*{orderNo}" class="form-control" disabled="disabled" type="text">
				</div>
			</div>
			
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单状态:</label>
				<div class="col-sm-8">
					<select class="form-control" name="orderStatus" id="orderStatus" th:with="type=${@dict.getType('weChat_order_status')}" disabled="disabled">
					  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{orderStatus}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品数量:</label>
				<div class="col-sm-8">
					<input id="productCount" name="productCount" th:field="*{productCount}" disabled="disabled" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品总价：</label>
				<div class="col-sm-8">
					<input id="productAmountTotal" name="productAmountTotal" th:field="*{productAmountTotal}" class="form-control" type="text" disabled="disabled">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单物流编号：</label>
				<div class="col-sm-8">
					<input id="orderlogisticsId" name="orderlogisticsId" class="form-control" type="text" th:field="*{orderlogisticsId}">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">快递公司名称：</label>
				<div class="col-sm-8">
					<input id="delivername" name="delivername" class="form-control" type="text" >
				</div>
			</div>
			
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "wechat/wechatOrder";
		$("#form-wechatOrder-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/sendGood", $('#form-wechatOrder-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
