<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="member:memberTdConfig:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="member:memberTdConfig:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="member:memberTdConfig:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="member:memberTdConfig:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('member:memberTdConfig:edit')}]];
        var removeFlag = [[${@permission.hasPermi('member:memberTdConfig:remove')}]];
        var prefix = ctx + "member/memberTdConfig";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "配置",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键ID',
					visible: false
				},
				{
					field : 'type', 
					title : '配置类型',
					sortable: true
				},
				{
					field : 'subType', 
					title : '配置子类型',
					sortable: true
				},
				{
					field : 'value', 
					title : '配置值',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					sortable: true,
					formatter: function(value, row, index) {
		                if (value == '0') {
		                	return '<span class="badge badge-warning">不可用</span>';
		                } else if (value == '1') {
		                    return '<span class="label label-success">可用</span>';
		                }
		            }
				},
				{
					field : 'typeDesc', 
					title : '类型描述',
					sortable: true
				},
				{
					field : 'valueDesc', 
					title : '值描述',
					sortable: true
				},
				
				{
					field : 'createTime', 
					title : '建立时间',
					sortable: true
				},
				
				{
					field : 'memo', 
					title : '备注信息',
					sortable: true
				},
				{
					field : 'ext1', 
					title : '扩展字段1',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>