<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-wechatProductAlbum-edit" th:object="${wechatProductAlbum}">
            <input id="productAlbumId" name="productAlbumId" th:field="*{productAlbumId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品编号：</label>
				<div class="col-sm-8">
					<input id="productId" name="productId" th:field="*{productId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">图片名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" th:field="*{name}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">图片url：</label>
				<div class="col-sm-8">
					<input id="imageUrl" name="imageUrl" th:field="*{imageUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">图片大小：</label>
				<div class="col-sm-8">
					<input id="imageSize" name="imageSize" th:field="*{imageSize}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">图片宽度：</label>
				<div class="col-sm-8">
					<input id="width" name="width" th:field="*{width}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">图片高度：</label>
				<div class="col-sm-8">
					<input id="height" name="height" th:field="*{height}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">图片介绍：</label>
				<div class="col-sm-8">
					<input id="intro" name="intro" th:field="*{intro}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">排列次序：</label>
				<div class="col-sm-8">
					<input id="sort" name="sort" th:field="*{sort}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态:0不可显示，1显示：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "wechat/wechatProductAlbum";
		$("#form-wechatProductAlbum-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-wechatProductAlbum-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
