/*********************设置背景************************************/
.item-1 {
    background: url("../img/pageonenew.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size:cover;
}

.item-2 {
    background: url("../img/base.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size:cover;
}
.item-5 {
    background: url("../img/bg1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size:cover;
}
.item-4 {
    background: rgba(255, 255, 255, .1);!important;
}
.guns {
    opacity: 1;
    width: 100%;
    height: 100%;
    /*background: url("../images/pure.jpg") no-repeat center center;*/
    -webkit-background-size: cover;
    background-size:cover;
    position: fixed;
    display: none;
}
.pure {
    width: 100%;
    height: 100%;
    background: url("../img/pure.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size:cover;
    position: fixed;
    display: none;
}
/**********************设置背景End*****************************************/