<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-payInstOrderResult-edit" th:object="${payInstOrderResult}">
            <input id="resultId" name="resultId" th:field="*{resultId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">批次结果ID：</label>
				<div class="col-sm-8">
					<input id="batchResultId" name="batchResultId" th:field="*{batchResultId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">机构订单ID：</label>
				<div class="col-sm-8">
					<input id="instOrderId" name="instOrderId" th:field="*{instOrderId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">机构流水号：</label>
				<div class="col-sm-8">
					<input id="instSeqNo" name="instSeqNo" th:field="*{instSeqNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单类型：</label>
				<div class="col-sm-8">
					<input id="orderType" name="orderType" th:field="*{orderType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实际金额：</label>
				<div class="col-sm-8">
					<input id="realAmount" name="realAmount" th:field="*{realAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实际币种：</label>
				<div class="col-sm-8">
					<input id="realCurrency" name="realCurrency" th:field="*{realCurrency}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">帐户名称：</label>
				<div class="col-sm-8">
					<input id="accountName" name="accountName" th:field="*{accountName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">帐户帐号：</label>
				<div class="col-sm-8">
					<input id="accountNo" name="accountNo" th:field="*{accountNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">卡类型：</label>
				<div class="col-sm-8">
					<input id="cardType" name="cardType" th:field="*{cardType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原机构订单号：</label>
				<div class="col-sm-8">
					<input id="orgiInstOrderNo" name="orgiInstOrderNo" th:field="*{orgiInstOrderNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">对账状态 ：</label>
				<div class="col-sm-8">
					<input id="compareStatus" name="compareStatus" th:field="*{compareStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<input id="instStatus" name="instStatus" th:field="*{instStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">流水同步状态：</label>
				<div class="col-sm-8">
					<input id="glideStatus" name="glideStatus" th:field="*{glideStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">统一结果编码：</label>
				<div class="col-sm-8">
					<input id="instResultCode" name="instResultCode" th:field="*{instResultCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="gmtModified" name="gmtModified" th:field="*{gmtModified}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="gmtCreate" name="gmtCreate" th:field="*{gmtCreate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="memo" name="memo" th:field="*{memo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">批次类型：</label>
				<div class="col-sm-8">
					<input id="batchType" name="batchType" th:field="*{batchType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道编号：</label>
				<div class="col-sm-8">
					<input id="fundChannelCode" name="fundChannelCode" th:field="*{fundChannelCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">机构订单号：</label>
				<div class="col-sm-8">
					<input id="instOrderNo" name="instOrderNo" th:field="*{instOrderNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">该笔订单结果操作状态：</label>
				<div class="col-sm-8">
					<input id="operateStatus" name="operateStatus" th:field="*{operateStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">差异信息：</label>
				<div class="col-sm-8">
					<input id="diffMsg" name="diffMsg" th:field="*{diffMsg}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">归档批次ID：</label>
				<div class="col-sm-8">
					<input id="archiveBatchId" name="archiveBatchId" th:field="*{archiveBatchId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原入款订单号：</label>
				<div class="col-sm-8">
					<input id="fundinOrgiInstOrderNo" name="fundinOrgiInstOrderNo" th:field="*{fundinOrgiInstOrderNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">同步结果给渠道.S发送成功,F发送失败,I发送中：</label>
				<div class="col-sm-8">
					<input id="syncChannelStatus" name="syncChannelStatus" th:field="*{syncChannelStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">通知BankOrder状态 ：</label>
				<div class="col-sm-8">
					<input id="notifyBankorderStatus" name="notifyBankorderStatus" th:field="*{notifyBankorderStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道API结果码：</label>
				<div class="col-sm-8">
					<input id="apiResultCode" name="apiResultCode" th:field="*{apiResultCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道API结果子码：</label>
				<div class="col-sm-8">
					<input id="apiResultSubCode" name="apiResultSubCode" th:field="*{apiResultSubCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">接口类型：</label>
				<div class="col-sm-8">
					<input id="apiType" name="apiType" th:field="*{apiType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">风险标识：</label>
				<div class="col-sm-8">
					<input id="riskFlag" name="riskFlag" th:field="*{riskFlag}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">扩展信息：</label>
				<div class="col-sm-8">
					<textarea name="extension" autocomplete="off" maxlength="800" class="form-control" rows="5">[[*{extension}]]</textarea>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "payorder/payInstOrderResult";
		$("#form-payInstOrderResult-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-payInstOrderResult-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
