<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-reconciliationAccountCheckMistake-edit" th:object="${reconciliationAccountCheckMistake}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">版本：</label>
				<div class="col-sm-8">
					<input id="version" name="version" th:field="*{version}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改者：</label>
				<div class="col-sm-8">
					<input id="editor" name="editor" th:field="*{editor}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
					<input id="creater" name="creater" th:field="*{creater}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最后修改时间：</label>
				<div class="col-sm-8">
					<input id="editTime" name="editTime" th:field="*{editTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">对账批次号：</label>
				<div class="col-sm-8">
					<input id="accountCheckBatchNo" name="accountCheckBatchNo" th:field="*{accountCheckBatchNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账单日期：</label>
				<div class="col-sm-8">
					<input id="billDate" name="billDate" th:field="*{billDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行类型：</label>
				<div class="col-sm-8">
					<input id="bankType" name="bankType" th:field="*{bankType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">下单时间 ：</label>
				<div class="col-sm-8">
					<input id="orderTime" name="orderTime" th:field="*{orderTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">merchantName：</label>
				<div class="col-sm-8">
					<input id="merchantName" name="merchantName" th:field="*{merchantName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商家编号：</label>
				<div class="col-sm-8">
					<input id="merchantNo" name="merchantNo" th:field="*{merchantNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商家订单号：</label>
				<div class="col-sm-8">
					<input id="orderNo" name="orderNo" th:field="*{orderNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">平台交易时间 ：</label>
				<div class="col-sm-8">
					<input id="tradeTime" name="tradeTime" th:field="*{tradeTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">平台流水号：</label>
				<div class="col-sm-8">
					<input id="trxNo" name="trxNo" th:field="*{trxNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">平台交易金额：</label>
				<div class="col-sm-8">
					<input id="orderAmount" name="orderAmount" th:field="*{orderAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">平台退款金额 ：</label>
				<div class="col-sm-8">
					<input id="refundAmount" name="refundAmount" th:field="*{refundAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">平台交易状态：</label>
				<div class="col-sm-8">
					<input id="tradeStatus" name="tradeStatus" th:field="*{tradeStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">平台手续费：</label>
				<div class="col-sm-8">
					<input id="fee" name="fee" th:field="*{fee}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行交易时间：</label>
				<div class="col-sm-8">
					<input id="bankTradeTime" name="bankTradeTime" th:field="*{bankTradeTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行订单号：</label>
				<div class="col-sm-8">
					<input id="bankOrderNo" name="bankOrderNo" th:field="*{bankOrderNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行流水号：</label>
				<div class="col-sm-8">
					<input id="bankTrxNo" name="bankTrxNo" th:field="*{bankTrxNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行交易状态：</label>
				<div class="col-sm-8">
					<input id="bankTradeStatus" name="bankTradeStatus" th:field="*{bankTradeStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行交易金额：</label>
				<div class="col-sm-8">
					<input id="bankAmount" name="bankAmount" th:field="*{bankAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行退款金额：</label>
				<div class="col-sm-8">
					<input id="bankRefundAmount" name="bankRefundAmount" th:field="*{bankRefundAmount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行手续费：</label>
				<div class="col-sm-8">
					<input id="bankFee" name="bankFee" th:field="*{bankFee}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">差错类型：</label>
				<div class="col-sm-8">
					<input id="errType" name="errType" th:field="*{errType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">handleStatus：</label>
				<div class="col-sm-8">
					<input id="handleStatus" name="handleStatus" th:field="*{handleStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">处理结果：</label>
				<div class="col-sm-8">
					<input id="handleValue" name="handleValue" th:field="*{handleValue}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">处理备注：</label>
				<div class="col-sm-8">
					<input id="handleRemark" name="handleRemark" th:field="*{handleRemark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作人：</label>
				<div class="col-sm-8">
					<input id="operatorName" name="operatorName" th:field="*{operatorName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作账户：</label>
				<div class="col-sm-8">
					<input id="operatorAccountNo" name="operatorAccountNo" th:field="*{operatorAccountNo}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "reconciliation/reconciliationAccountCheckMistake";
		$("#form-reconciliationAccountCheckMistake-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-reconciliationAccountCheckMistake-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
