<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiran.wechat.mapper.BsCityMapper">
    
    <resultMap type="BsCity" id="BsCityResult">
        <result property="cityId"    column="CITY_ID"    />
        <result property="cityCode"    column="CITY_CODE"    />
        <result property="cityName"    column="CITY_NAME"    />
        <result property="shortName"    column="SHORT_NAME"    />
        <result property="provinceCode"    column="PROVINCE_CODE"    />
        <result property="lng"    column="LNG"    />
        <result property="lat"    column="LAT"    />
        <result property="sort"    column="SORT"    />
        <result property="gmtCreate"    column="GMT_CREATE"    />
        <result property="gmtModified"    column="GMT_MODIFIED"    />
        <result property="memo"    column="MEMO"    />
        <result property="dataState"    column="DATA_STATE"    />
        <result property="tenantCode"    column="TENANT_CODE"    />
    </resultMap>
	
	<sql id="selectBsCityVo">
        select CITY_ID, CITY_CODE, CITY_NAME, SHORT_NAME, PROVINCE_CODE, LNG, LAT, SORT, GMT_CREATE, GMT_MODIFIED, MEMO, DATA_STATE, TENANT_CODE from bs_city
    </sql>
	
    <select id="selectBsCityList" parameterType="BsCity" resultMap="BsCityResult">
        <include refid="selectBsCityVo"/>
        <where>  
            <if test="cityId != null "> and CITY_ID = #{cityId}</if>
             <if test="cityCode != null  and cityCode != '' "> and CITY_CODE = #{cityCode}</if>
             <if test="cityName != null  and cityName != '' "> and CITY_NAME = #{cityName}</if>
             <if test="shortName != null  and shortName != '' "> and SHORT_NAME = #{shortName}</if>
             <if test="provinceCode != null  and provinceCode != '' "> and PROVINCE_CODE = #{provinceCode}</if>
             <if test="dataState != null "> and DATA_STATE = #{dataState}</if>
             <if test="tenantCode != null  and tenantCode != '' "> and TENANT_CODE = #{tenantCode}</if>
         </where>
    </select>
    
    <select id="selectBsCityListByProvinceCode" parameterType="BsCity" resultMap="BsCityResult">
        <include refid="selectBsCityVo"/>
        where PROVINCE_CODE = #{provinceCode}
    </select>
    
    <select id="selectBsCityById" parameterType="Integer" resultMap="BsCityResult">
        <include refid="selectBsCityVo"/>
        where CITY_ID = #{cityId}
    </select>
        
    <insert id="insertBsCity" parameterType="BsCity" useGeneratedKeys="true" keyProperty="cityId">
        insert into bs_city
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cityCode != null  and cityCode != ''  ">CITY_CODE,</if>
			<if test="cityName != null  and cityName != ''  ">CITY_NAME,</if>
			<if test="shortName != null  and shortName != ''  ">SHORT_NAME,</if>
			<if test="provinceCode != null  and provinceCode != ''  ">PROVINCE_CODE,</if>
			<if test="lng != null  and lng != ''  ">LNG,</if>
			<if test="lat != null  and lat != ''  ">LAT,</if>
			<if test="sort != null  ">SORT,</if>
			<if test="gmtCreate != null  ">GMT_CREATE,</if>
			<if test="gmtModified != null  ">GMT_MODIFIED,</if>
			<if test="memo != null  and memo != ''  ">MEMO,</if>
			<if test="dataState != null  ">DATA_STATE,</if>
			<if test="tenantCode != null  and tenantCode != ''  ">TENANT_CODE,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cityCode != null  and cityCode != ''  ">#{cityCode},</if>
			<if test="cityName != null  and cityName != ''  ">#{cityName},</if>
			<if test="shortName != null  and shortName != ''  ">#{shortName},</if>
			<if test="provinceCode != null  and provinceCode != ''  ">#{provinceCode},</if>
			<if test="lng != null  and lng != ''  ">#{lng},</if>
			<if test="lat != null  and lat != ''  ">#{lat},</if>
			<if test="sort != null  ">#{sort},</if>
			<if test="gmtCreate != null  ">#{gmtCreate},</if>
			<if test="gmtModified != null  ">#{gmtModified},</if>
			<if test="memo != null  and memo != ''  ">#{memo},</if>
			<if test="dataState != null  ">#{dataState},</if>
			<if test="tenantCode != null  and tenantCode != ''  ">#{tenantCode},</if>
         </trim>
    </insert>
	 

	<delete id="deleteBsCityById" parameterType="Integer">
        delete from bs_city where CITY_ID = #{cityId}
    </delete>
	
    <delete id="deleteBsCityByIds" parameterType="String">
        delete from bs_city where CITY_ID in 
        <foreach item="cityId" collection="array" open="(" separator="," close=")">
            #{cityId}
        </foreach>
    </delete>
    
</mapper>