<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiran.wechat.mapper.WechatUserProductCouponMapper">
    
    <resultMap type="WechatUserProductCoupon" id="WechatUserProductCouponResult">
        <result property="id"    column="id"    />
        <result property="openId"    column="openId"    />
        <result property="couponSerialNo"    column="coupon_serial_no"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectWechatUserProductCouponVo">
        select id, openId, coupon_serial_no, status, create_by, create_time, update_by, update_time from wechat_user_product_coupon
    </sql>
	
    <select id="selectWechatUserProductCouponList" parameterType="WechatUserProductCoupon" resultMap="WechatUserProductCouponResult">
        <include refid="selectWechatUserProductCouponVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="openId != null  and openId != '' "> and openId = #{openId}</if>
             <if test="couponSerialNo != null  and couponSerialNo != '' "> and coupon_serial_no = #{couponSerialNo}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectWechatUserProductCouponById" parameterType="Integer" resultMap="WechatUserProductCouponResult">
        <include refid="selectWechatUserProductCouponVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWechatUserProductCoupon" parameterType="WechatUserProductCoupon" useGeneratedKeys="true" keyProperty="id">
        insert into wechat_user_product_coupon
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="openId != null  and openId != ''  ">openId,</if>
			<if test="couponSerialNo != null  and couponSerialNo != ''  ">coupon_serial_no,</if>
			<if test="status != null  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			create_time,
			update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="openId != null  and openId != ''  ">#{openId},</if>
			<if test="couponSerialNo != null  and couponSerialNo != ''  ">#{couponSerialNo},</if>
			<if test="status != null  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			sysdate(),
			sysdate()
         </trim>
    </insert>
	 
    <update id="updateWechatUserProductCoupon" parameterType="WechatUserProductCoupon">
        update wechat_user_product_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="openId != null  and openId != ''  ">openId = #{openId},</if>
            <if test="couponSerialNo != null  and couponSerialNo != ''  ">coupon_serial_no = #{couponSerialNo},</if>
            <if test="status != null  ">status = #{status},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>
    
    <update id="updateWechatUserProductCouponBySerialNo"  parameterType="WechatUserProductCoupon">
        update wechat_user_product_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null  ">status = #{status},</if>
            update_time = sysdate()
        </trim>
        where coupon_serial_no = #{couponSerialNo}
    </update>

	<delete id="deleteWechatUserProductCouponById" parameterType="Integer">
        delete from wechat_user_product_coupon where id = #{id}
    </delete>
	
    <delete id="deleteWechatUserProductCouponByIds" parameterType="String">
        delete from wechat_user_product_coupon where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>