<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiran.wechat.mapper.WechatFreightTemplateMapper">
    
    <resultMap type="WechatFreightTemplate" id="WechatFreightTemplateResult">
        <result property="freightTemplateId"    column="freight_template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateType"    column="template_type"    />
        <result property="parcelPostArea"    column="parcel_post_area"    />
        <result property="nonDistributionArea"    column="non_distribution_area"    />
        <result property="buyerPaymentArea"    column="buyer_payment_area"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectWechatFreightTemplateVo">
        select freight_template_id, template_name, template_type, parcel_post_area, non_distribution_area, buyer_payment_area, create_by, create_time, update_by, update_time, remark from wechat_freight_template
    </sql>
	
    <select id="selectWechatFreightTemplateList" parameterType="WechatFreightTemplate" resultMap="WechatFreightTemplateResult">
        <include refid="selectWechatFreightTemplateVo"/>
        <where>  
            <if test="freightTemplateId != null "> and freight_template_id = #{freightTemplateId}</if>
             <if test="templateName != null  and templateName != '' "> and template_name = #{templateName}</if>
             <if test="templateType != null  and templateType != '' "> and template_type = #{templateType}</if>
             <if test="parcelPostArea != null  and parcelPostArea != '' "> and parcel_post_area = #{parcelPostArea}</if>
             <if test="nonDistributionArea != null  and nonDistributionArea != '' "> and non_distribution_area = #{nonDistributionArea}</if>
             <if test="buyerPaymentArea != null  and buyerPaymentArea != '' "> and buyer_payment_area = #{buyerPaymentArea}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectWechatFreightTemplateLists" parameterType="WechatFreightTemplate" resultMap="WechatFreightTemplateResult">
        <include refid="selectWechatFreightTemplateVo"/>
    </select>
    
    <select id="selectWechatFreightTemplateById" parameterType="Integer" resultMap="WechatFreightTemplateResult">
        <include refid="selectWechatFreightTemplateVo"/>
        where freight_template_id = #{freightTemplateId}
    </select>
        
    <insert id="insertWechatFreightTemplate" parameterType="WechatFreightTemplate" useGeneratedKeys="true" keyProperty="freightTemplateId">
        insert into wechat_freight_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="templateName != null  and templateName != ''  ">template_name,</if>
			<if test="templateType != null  and templateType != ''  ">template_type,</if>
			<if test="parcelPostArea != null  and parcelPostArea != ''  ">parcel_post_area,</if>
			<if test="nonDistributionArea != null  and nonDistributionArea != ''  ">non_distribution_area,</if>
			<if test="buyerPaymentArea != null  and buyerPaymentArea != ''  ">buyer_payment_area,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="templateName != null  and templateName != ''  ">#{templateName},</if>
			<if test="templateType != null  and templateType != ''  ">#{templateType},</if>
			<if test="parcelPostArea != null  and parcelPostArea != ''  ">#{parcelPostArea},</if>
			<if test="nonDistributionArea != null  and nonDistributionArea != ''  ">#{nonDistributionArea},</if>
			<if test="buyerPaymentArea != null  and buyerPaymentArea != ''  ">#{buyerPaymentArea},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			sysdate()
         </trim>
    </insert>
	 
    <update id="updateWechatFreightTemplate" parameterType="WechatFreightTemplate">
        update wechat_freight_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null  and templateName != ''  ">template_name = #{templateName},</if>
            <if test="templateType != null  and templateType != ''  ">template_type = #{templateType},</if>
            <if test="parcelPostArea != null  and parcelPostArea != ''  ">parcel_post_area = #{parcelPostArea},</if>
            <if test="nonDistributionArea != null  and nonDistributionArea != ''  ">non_distribution_area = #{nonDistributionArea},</if>
            <if test="buyerPaymentArea != null  and buyerPaymentArea != ''  ">buyer_payment_area = #{buyerPaymentArea},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where freight_template_id = #{freightTemplateId}
    </update>

	<delete id="deleteWechatFreightTemplateById" parameterType="Integer">
        delete from wechat_freight_template where freight_template_id = #{freightTemplateId}
    </delete>
	
    <delete id="deleteWechatFreightTemplateByIds" parameterType="String">
        delete from wechat_freight_template where freight_template_id in 
        <foreach item="freightTemplateId" collection="array" open="(" separator="," close=")">
            #{freightTemplateId}
        </foreach>
    </delete>
    
</mapper>