<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								街道代码：<input type="text" name="streetCode"/>
							</li>

							<li>
								父级区代码：<input type="text" name="areaCode"/>
							</li>

							<li>
								街道名称：<input type="text" name="streetName"/>
							</li>

							<li>
								简称：<input type="text" name="shortName"/>
							</li>


							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="wechat:bsStreet:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="wechat:bsStreet:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="wechat:bsStreet:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('wechat:bsStreet:edit')}]];
        var removeFlag = [[${@permission.hasPermi('wechat:bsStreet:remove')}]];
        var prefix = ctx + "wechat/bsStreet";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "街道设置",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'streetId', 
					title : '自增列',
					visible: false
				},
				{
					field : 'streetCode', 
					title : '街道代码',
					sortable: true
				},
				{
					field : 'areaCode', 
					title : '父级区代码',
					sortable: true
				},
				{
					field : 'streetName', 
					title : '街道名称',
					sortable: true
				},
				{
					field : 'shortName', 
					title : '简称',
					sortable: true
				},
				{
					field : 'lng', 
					title : '经度',
					sortable: true
				},
				{
					field : 'lat', 
					title : '纬度',
					sortable: true
				},
				{
					field : 'sort', 
					title : '排序',
					sortable: true
				},
				{
					field : 'memo', 
					title : '备注',
					sortable: true
				},
				{
					field : 'dataState', 
					title : '状态',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.streetId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.streetId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>