<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								资金源编码：<input type="text" name="fundChannelCode"/>
							</li>
							<li>
								统一结果编码：<input type="text" name="unityResultCode"/>
							</li>
							<li>
								结果编码：<input type="text" name="resultCode"/>
							</li>

							<li>
								结果子编码：<input type="text" name="resultSubCode"/>
							</li>	

							<li>
								订单状态：
								<select name="secure" id="secure" th:with="type=${@dict.getType('channel_api_order_status')}">
								  <option value="">所有</option>
								  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							    </select>
							</li>

							<li>
								是否启用映射：
								<select name="useMapping" id="useMapping" th:with="type=${@dict.getType('channel_api_use_mapping')}">
								  <option value="">所有</option>
								  <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							    </select>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="paychannel:tmApiResultCode:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="paychannel:tmApiResultCode:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="paychannel:tmApiResultCode:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="paychannel:tmApiResultCode:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('paychannel:tmApiResultCode:edit')}]];
        var removeFlag = [[${@permission.hasPermi('paychannel:tmApiResultCode:remove')}]];
        var prefix = ctx + "paychannel/tmApiResultCode";
        var orderStatusdatas = [[${@dict.getType('channel_api_order_status')}]];
        var useMappingdatas = [[${@dict.getType('channel_api_use_mapping')}]];
        var apiTypedatas = [[${@dict.getType('channel_api_api_type')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "API结果编码",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'apiResultCodeId', 
					title : '编码ID',
					visible: false
				},
				{
					field : 'fundChannelCode', 
					title : '资金源编码',
					sortable: true
				},
				{
					field : 'apiType', 
					title : '接口类型',
					sortable: true,
					formatter: function(value, row, index) {
				      return $.table.selectDictLabel(apiTypedatas, value);
				  	}
				},
				{
					field : 'resultCode', 
					title : '结果编码',
					sortable: true
				},
				{
					field : 'resultSubCode', 
					title : '结果子编码',
					sortable: true
				},
				{
					field : 'unityResultCode', 
					title : '统一结果编码',
					sortable: true
				},
				{
					field : 'orderStatus', 
					title : '订单状态',
					sortable: true,
					formatter: function(value, row, index) {
				      return $.table.selectDictLabel(orderStatusdatas, value);
				  	}
				},
				{
					field : 'useMapping', 
					title : '是否映射',
					sortable: true,
					formatter: function(value, row, index) {
				      return $.table.selectDictLabel(useMappingdatas, value);
				  	}
				},
				{
					field : 'gmtCreate', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'gmtModified', 
					title : '最后修改时间',
					sortable: true
				},
				{
					field : 'memo', 
					title : '备注',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.apiResultCodeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.apiResultCodeId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>