<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-wechatProductInventory-edit" th:object="${wechatProductInventory}">
            <input id="productInventoryId" name="productInventoryId" th:field="*{productInventoryId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品编号：</label>
				<div class="col-sm-8">
					<input id="productId" name="productId" th:field="*{productId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出入库数量：</label>
				<div class="col-sm-8">
					<input id="quantity" name="quantity" th:field="*{quantity}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单价 ：</label>
				<div class="col-sm-8">
					<input id="price" name="price" th:field="*{price}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">小计金额：</label>
				<div class="col-sm-8">
					<input id="subtotal" name="subtotal" th:field="*{subtotal}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">旧库存：</label>
				<div class="col-sm-8">
					<input id="stockOld" name="stockOld" th:field="*{stockOld}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">新库存：</label>
				<div class="col-sm-8">
					<input id="stockNew" name="stockNew" th:field="*{stockNew}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出入库方向 1:出库;2:入库：</label>
				<div class="col-sm-8">
					<input id="direction" name="direction" th:field="*{direction}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出入库类型：SELL-RETURN=销售退货(入库),PURCHASE=采购入库,SALE=销售出库,PURCHASE-RETURN=采购退货(出库),INTERNAL=内部出库,INVENTORY=盘点调仓：</label>
				<div class="col-sm-8">
					<input id="operateType" name="operateType" th:field="*{operateType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单编号：</label>
				<div class="col-sm-8">
					<input id="orderId" name="orderId" th:field="*{orderId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">供应商编号：</label>
				<div class="col-sm-8">
					<input id="providerId" name="providerId" th:field="*{providerId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"> 备注信息：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">经手人用户编号:内部出库经手人、销售卖家、退货入库仓管员、进货入库采购员或仓管员、盘点调仓财务员或仓管员：</label>
				<div class="col-sm-8">
					<input id="userId" name="userId" th:field="*{userId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">审批人员用户编号：</label>
				<div class="col-sm-8">
					<input id="auditorUid" name="auditorUid" th:field="*{auditorUid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出入库结果：</label>
				<div class="col-sm-8">
					<input id="directionResult" name="directionResult" th:field="*{directionResult}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出入库时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "wechat/wechatProductInventory";
		$("#form-wechatProductInventory-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-wechatProductInventory-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
