<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiran.payorder.mapper.PayInstOrderMapper">
    
    <resultMap type="PayInstOrderDO" id="PayInstOrderResult">
        <result property="instOrderId"    column="inst_order_id"    />
        <result property="instCode"    column="inst_code"    />
        <result property="instOrderNo"    column="inst_order_no"    />
        <result property="orderType"    column="order_type"    />
        <result property="currency"    column="currency"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="communicateType"    column="communicate_type"    />
        <result property="communicateStatus"    column="communicate_status"    />
        <result property="archiveBatchId"    column="archive_batch_id"    />
        <result property="gmtSubmit"    column="gmt_submit"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="memo"    column="memo"    />
        <result property="productCode"    column="product_code"    />
        <result property="paymentCode"    column="payment_code"    />
        <result property="payMode"    column="pay_mode"    />
        <result property="fundChannelCode"    column="fund_channel_code"    />
        <result property="fundChannelApi"    column="fund_channel_api"    />
        <result property="archiveTemplateId"    column="archive_template_id"    />
        <result property="submitPriority"    column="submit_priority"    />
        <result property="gmtBookingSubmit"    column="gmt_booking_submit"    />
        <result property="retryTimes"    column="retry_times"    />
        <result property="gmtNextRetry"    column="gmt_next_retry"    />
        <result property="flag"    column="flag"    />
        <result property="riskStatus"    column="risk_status"    />
        <result property="routeVersion"    column="route_version"    />
        <result property="reversalStatus"    column="reversal_status"    />
        <result property="paySeqNo"    column="pay_seq_no"    />
        <result property="isSplit"    column="is_split"    />
        <result property="extension"    column="extension"    />
        <result property="expectTime"    column="expect_time"    />
        <result property="fundinOutBatchId"    column="fundin_out_batch_id"    />
    </resultMap>
	
	<sql id="selectPayInstOrderVo">
        select inst_order_id, inst_code, inst_order_no, order_type, currency, amount, status, communicate_type, communicate_status, archive_batch_id, gmt_submit, gmt_create, gmt_modified, memo, product_code, payment_code, pay_mode, fund_channel_code, fund_channel_api, archive_template_id, submit_priority, gmt_booking_submit, retry_times, gmt_next_retry, flag, risk_status, route_version, reversal_status, pay_seq_no, is_split, extension, expect_time, fundin_out_batch_id from pay_inst_order
    </sql>
	
    <select id="selectPayInstOrderList" parameterType="PayInstOrderDO" resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
        <where>  
            <if test="instOrderId != null "> and inst_order_id = #{instOrderId}</if>
             <if test="instCode != null  and instCode != '' "> and inst_code = #{instCode}</if>
             <if test="instOrderNo != null  and instOrderNo != '' "> and inst_order_no = #{instOrderNo}</if>
             <if test="orderType != null  and orderType != '' "> and order_type = #{orderType}</if>
             <if test="currency != null  and currency != '' "> and currency = #{currency}</if>
             <if test="amount != null "> and amount = #{amount}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="communicateType != null  and communicateType != '' "> and communicate_type = #{communicateType}</if>
             <if test="communicateStatus != null  and communicateStatus != '' "> and communicate_status = #{communicateStatus}</if>
             <if test="archiveBatchId != null "> and archive_batch_id = #{archiveBatchId}</if>
             <if test="gmtSubmit != null "> and gmt_submit = #{gmtSubmit}</if>
             <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
             <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
             <if test="memo != null  and memo != '' "> and memo = #{memo}</if>
             <if test="productCode != null  and productCode != '' "> and product_code = #{productCode}</if>
             <if test="paymentCode != null  and paymentCode != '' "> and payment_code = #{paymentCode}</if>
             <if test="payMode != null  and payMode != '' "> and pay_mode = #{payMode}</if>
             <if test="fundChannelCode != null  and fundChannelCode != '' "> and fund_channel_code = #{fundChannelCode}</if>
             <if test="fundChannelApi != null  and fundChannelApi != '' "> and fund_channel_api = #{fundChannelApi}</if>
             <if test="archiveTemplateId != null "> and archive_template_id = #{archiveTemplateId}</if>
             <if test="submitPriority != null "> and submit_priority = #{submitPriority}</if>
             <if test="gmtBookingSubmit != null "> and gmt_booking_submit = #{gmtBookingSubmit}</if>
             <if test="retryTimes != null "> and retry_times = #{retryTimes}</if>
             <if test="gmtNextRetry != null "> and gmt_next_retry = #{gmtNextRetry}</if>
             <if test="flag != null  and flag != '' "> and flag = #{flag}</if>
             <if test="riskStatus != null  and riskStatus != '' "> and risk_status = #{riskStatus}</if>
             <if test="routeVersion != null "> and route_version = #{routeVersion}</if>
             <if test="reversalStatus != null  and reversalStatus != '' "> and reversal_status = #{reversalStatus}</if>
             <if test="paySeqNo != null  and paySeqNo != '' "> and pay_seq_no = #{paySeqNo}</if>
             <if test="isSplit != null  and isSplit != '' "> and is_split = #{isSplit}</if>
             <if test="extension != null  and extension != '' "> and extension = #{extension}</if>
             <if test="expectTime != null "> and expect_time = #{expectTime}</if>
             <if test="fundinOutBatchId != null "> and fundin_out_batch_id = #{fundinOutBatchId}</if>
         </where>
         order by gmt_create desc
    </select>
    
    <select id="loadByInstOrderNos" parameterType="PayInstOrderDO" resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
        where inst_order_no in
	     <foreach collection="list" item="instOrderNo"  open="(" separator="," close=")">  
	        #{instOrderNo}  
	     </foreach>  
        order by gmt_create desc
    </select>
    
    <select id="listPaymentRecord" parameterType="java.util.Map" resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
       <where>  
           	<if test="billDate != null and billDate != ''">
				and gmt_create between #{billDate} AND CONCAT(#{billDate},' 23:59:59')
			</if>
			<if test="fundChannelCode != null and fundChannelCode != ''">
				and fund_channel_code = #{fundChannelCode}
			</if>
			<if test="status != null and status != ''">
				and status = ( #{status})
			</if>
         </where>
    </select>
    
    
    <select id="selectPayInstOrderListByDate"  resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
        where  date_format(gmt_create,'%y%m%d') &gt;= date_format(#{gmtCreateBegin},'%y%m%d')
        and date_format(gmt_create,'%y%m%d') &lt;= date_format(#{gmtCreateEnd},'%y%m%d')
        order by gmt_create desc
    </select>
    
    <select id="loadOrderIdForDurationQueryResultPaging"  resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
        <where>  
       		status = 'I'
        	and fund_channel_code = #{fundChannelCode}
        	and date_format(gmt_create,'%m.%d.%Y %h:%i:%s') &gt; date_format(#{startTime},'%m.%d.%Y %h:%i:%s')
        	and date_format(gmt_create,'%m.%d.%Y %h:%i:%s') &lt; date_format(#{endTime},'%m.%d.%Y %h:%i:%s')
        	and flag = #{flag}
        	<if test="communicateStatusList != null "> 
        		and communicate_status in
        		 <foreach collection="communicateStatusList" item="communicateStatus"  open="(" separator="," close=")">  
			        #{communicateStatus}  
			     </foreach>  
        	</if>
        </where>	
        limit #{pageSize}
    </select>
    
    
    <select id="selectPayInstOrderById" parameterType="Integer" resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
        where inst_order_id = #{instOrderId}
    </select>
    <select id="loadByInstOrderNo" parameterType="String" resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
        where inst_order_no = #{instOrderNo}
    </select>
    
    <select id="loadByPaySeq" parameterType="String" resultMap="PayInstOrderResult">
        <include refid="selectPayInstOrderVo"/>
        where pay_seq_no = #{paySeqNo}
    </select>
        
    <insert id="insertPayInstOrder" parameterType="PayInstOrderDO" useGeneratedKeys="true" keyProperty="instOrderId">
        insert into pay_inst_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="instOrderId != null  ">inst_order_id,</if>
			<if test="instCode != null  and instCode != ''  ">inst_code,</if>
			<if test="instOrderNo != null  and instOrderNo != ''  ">inst_order_no,</if>
			<if test="orderType != null  and orderType != ''  ">order_type,</if>
			<if test="currency != null  and currency != ''  ">currency,</if>
			<if test="amount != null  ">amount,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="communicateType != null  and communicateType != ''  ">communicate_type,</if>
			<if test="communicateStatus != null  and communicateStatus != ''  ">communicate_status,</if>
			<if test="archiveBatchId != null  ">archive_batch_id,</if>
			<if test="gmtSubmit != null  ">gmt_submit,</if>
			<if test="memo != null  and memo != ''  ">memo,</if>
			<if test="productCode != null  and productCode != ''  ">product_code,</if>
			<if test="paymentCode != null  and paymentCode != ''  ">payment_code,</if>
			<if test="payMode != null  and payMode != ''  ">pay_mode,</if>
			<if test="fundChannelCode != null  and fundChannelCode != ''  ">fund_channel_code,</if>
			<if test="fundChannelApi != null  and fundChannelApi != ''  ">fund_channel_api,</if>
			<if test="archiveTemplateId != null  ">archive_template_id,</if>
			<if test="submitPriority != null  ">submit_priority,</if>
			<if test="gmtBookingSubmit != null  ">gmt_booking_submit,</if>
			<if test="retryTimes != null  ">retry_times,</if>
			<if test="gmtNextRetry != null  ">gmt_next_retry,</if>
			<if test="flag != null  and flag != ''  ">flag,</if>
			<if test="riskStatus != null  and riskStatus != ''  ">risk_status,</if>
			<if test="routeVersion != null  ">route_version,</if>
			<if test="reversalStatus != null  and reversalStatus != ''  ">reversal_status,</if>
			<if test="paySeqNo != null  and paySeqNo != ''  ">pay_seq_no,</if>
			<if test="isSplit != null  and isSplit != ''  ">is_split,</if>
			<if test="extension != null  and extension != ''  ">extension,</if>
			<if test="expectTime != null  ">expect_time,</if>
			<if test="fundinOutBatchId != null  ">fundin_out_batch_id,</if>
			gmt_create,
			gmt_modified
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="instOrderId != null  ">#{instOrderId},</if>
			<if test="instCode != null  and instCode != ''  ">#{instCode},</if>
			<if test="instOrderNo != null  and instOrderNo != ''  ">#{instOrderNo},</if>
			<if test="orderType != null  and orderType != ''  ">#{orderType},</if>
			<if test="currency != null  and currency != ''  ">#{currency},</if>
			<if test="amount != null  ">#{amount},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="communicateType != null  and communicateType != ''  ">#{communicateType},</if>
			<if test="communicateStatus != null  and communicateStatus != ''  ">#{communicateStatus},</if>
			<if test="archiveBatchId != null  ">#{archiveBatchId},</if>
			<if test="gmtSubmit != null  ">#{gmtSubmit},</if>
			<if test="memo != null  and memo != ''  ">#{memo},</if>
			<if test="productCode != null  and productCode != ''  ">#{productCode},</if>
			<if test="paymentCode != null  and paymentCode != ''  ">#{paymentCode},</if>
			<if test="payMode != null  and payMode != ''  ">#{payMode},</if>
			<if test="fundChannelCode != null  and fundChannelCode != ''  ">#{fundChannelCode},</if>
			<if test="fundChannelApi != null  and fundChannelApi != ''  ">#{fundChannelApi},</if>
			<if test="archiveTemplateId != null  ">#{archiveTemplateId},</if>
			<if test="submitPriority != null  ">#{submitPriority},</if>
			<if test="gmtBookingSubmit != null  ">#{gmtBookingSubmit},</if>
			<if test="retryTimes != null  ">#{retryTimes},</if>
			<if test="gmtNextRetry != null  ">#{gmtNextRetry},</if>
			<if test="flag != null  and flag != ''  ">#{flag},</if>
			<if test="riskStatus != null  and riskStatus != ''  ">#{riskStatus},</if>
			<if test="routeVersion != null  ">#{routeVersion},</if>
			<if test="reversalStatus != null  and reversalStatus != ''  ">#{reversalStatus},</if>
			<if test="paySeqNo != null  and paySeqNo != ''  ">#{paySeqNo},</if>
			<if test="isSplit != null  and isSplit != ''  ">#{isSplit},</if>
			<if test="extension != null  and extension != ''  ">#{extension},</if>
			<if test="expectTime != null  ">#{expectTime},</if>
			<if test="fundinOutBatchId != null  ">#{fundinOutBatchId},</if>
			sysdate(),
			sysdate()
         </trim>
    </insert>
	 
    <update id="updatePayInstOrder" parameterType="PayInstOrderDO">
        update pay_inst_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="instCode != null  and instCode != ''  ">inst_code = #{instCode},</if>
            <if test="instOrderNo != null  and instOrderNo != ''  ">inst_order_no = #{instOrderNo},</if>
            <if test="orderType != null  and orderType != ''  ">order_type = #{orderType},</if>
            <if test="currency != null  and currency != ''  ">currency = #{currency},</if>
            <if test="amount != null  ">amount = #{amount},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="communicateType != null  and communicateType != ''  ">communicate_type = #{communicateType},</if>
            <if test="communicateStatus != null  and communicateStatus != ''  ">communicate_status = #{communicateStatus},</if>
            <if test="archiveBatchId != null  ">archive_batch_id = #{archiveBatchId},</if>
            <if test="gmtSubmit != null  ">gmt_submit = #{gmtSubmit},</if>
            <if test="memo != null  and memo != ''  ">memo = #{memo},</if>
            <if test="productCode != null  and productCode != ''  ">product_code = #{productCode},</if>
            <if test="paymentCode != null  and paymentCode != ''  ">payment_code = #{paymentCode},</if>
            <if test="payMode != null  and payMode != ''  ">pay_mode = #{payMode},</if>
            <if test="fundChannelCode != null  and fundChannelCode != ''  ">fund_channel_code = #{fundChannelCode},</if>
            <if test="fundChannelApi != null  and fundChannelApi != ''  ">fund_channel_api = #{fundChannelApi},</if>
            <if test="archiveTemplateId != null  ">archive_template_id = #{archiveTemplateId},</if>
            <if test="submitPriority != null  ">submit_priority = #{submitPriority},</if>
            <if test="gmtBookingSubmit != null  ">gmt_booking_submit = #{gmtBookingSubmit},</if>
            <if test="retryTimes != null  ">retry_times = #{retryTimes},</if>
            <if test="gmtNextRetry != null  ">gmt_next_retry = #{gmtNextRetry},</if>
            <if test="flag != null  and flag != ''  ">flag = #{flag},</if>
            <if test="riskStatus != null  and riskStatus != ''  ">risk_status = #{riskStatus},</if>
            <if test="routeVersion != null  ">route_version = #{routeVersion},</if>
            <if test="reversalStatus != null  and reversalStatus != ''  ">reversal_status = #{reversalStatus},</if>
            <if test="paySeqNo != null  and paySeqNo != ''  ">pay_seq_no = #{paySeqNo},</if>
            <if test="isSplit != null  and isSplit != ''  ">is_split = #{isSplit},</if>
            <if test="extension != null  and extension != ''  ">extension = #{extension},</if>
            <if test="expectTime != null  ">expect_time = #{expectTime},</if>
            <if test="fundinOutBatchId != null  ">fundin_out_batch_id = #{fundinOutBatchId},</if>
            gmt_modified = sysdate()
        </trim>
        where inst_order_id = #{instOrderId}
    </update>

	 <update id="updateFlag" >
        update pay_inst_order set
        	gmt_modified = sysdate(),
        	flag = #{newFlag}
        <where>  
       		status = 'I'
        	and fund_channel_code = #{fundChannelCode}
        	and date_format(gmt_create,'%m.%d.%Y %h:%i:%s') &gt; date_format(#{startTime},'%m.%d.%Y %h:%i:%s')
        	and date_format(gmt_create,'%m.%d.%Y %h:%i:%s') &lt; date_format(#{endTime},'%m.%d.%Y %h:%i:%s')
        	and flag = #{oldFlag}
        	<if test="communicateStatusList != null "> 
        		and communicate_status in
        		 <foreach collection="communicateStatusList" item="communicateStatus"  open="(" separator="," close=")">  
			        #{communicateStatus}  
			     </foreach>  
        	</if>
        </where>	
     </update>

	<delete id="deletePayInstOrderById" parameterType="Integer">
        delete from pay_inst_order where inst_order_id = #{instOrderId}
    </delete>
	
    <delete id="deletePayInstOrderByIds" parameterType="String">
        delete from pay_inst_order where inst_order_id in 
        <foreach item="instOrderId" collection="array" open="(" separator="," close=")">
            #{instOrderId}
        </foreach>
    </delete>
    <update id="updateRiskStatus" >
        update pay_inst_order set gmt_modified =sysdate(),risk_status = #{riskStatus} where inst_order_id = #{instOrderId}
    </update>
    <update id="updateCommunicateStatusById" >
        update pay_inst_order set gmt_modified =sysdate(),communicate_status = #{communicateStatus} where inst_order_id = #{instOrderId}
    </update>
    <update id="updateExtensionById" >
        update pay_inst_order set gmt_modified =sysdate(),extension = #{extension} where inst_order_id = #{instOrderId}
    </update>
    <update id="updateStatusById" >
        update pay_inst_order set gmt_modified =sysdate(),status = #{status} where inst_order_id = #{instOrderId}
    </update>
    <update id="updateMemoById" >
        update pay_inst_order set gmt_modified =sysdate(),memo = #{memo} where inst_order_id = #{instOrderId}
    </update>
    <update id="updateChannelInfoById" >
        update pay_inst_order set gmt_modified =sysdate(),fund_channel_code = #{fundChannelCode} ,fund_channel_api = #{fundChannelApi} where inst_order_id = #{instOrderId}
    </update>
    
    <update id="updateFlagWithOrderId" >
        update pay_inst_order 
	    set 
	       gmt_modified =sysdate(),
	       flag = #{flag} 
		where inst_order_id = #{instOrderId}
    </update>
</mapper>