<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								机构订单号：<input type="text" name="instOrderId"/>
							</li>

							<li>
								通知事件编码：<input type="text" name="eventCode"/>
							</li>

							<li>
								通知地址：<input type="text" name="notifyTarget"/>
							</li>

							<li>
								通知数据：<input type="text" name="notifyData"/>
							</li>

							<li>
								通知状态：<input type="text" name="notifyStatus"/>
							</li>

							<li>
								字符集编码：<input type="text" name="inputCharset"/>
							</li>

							<li>
								签名类型：<input type="text" name="signatureType"/>
							</li>

							<li>
								合作方ID：<input type="text" name="partnerId"/>
							</li>

							<li>
								客户端ID：<input type="text" name="clientId"/>
							</li>

							<li>
								服务器标识：<input type="text" name="serverIdentity"/>
							</li>

							<li>
								重试中标识：<input type="text" name="retryingFlag"/>
							</li>

							<li>
								通知次数：<input type="text" name="retryCount"/>
							</li>

							<li>
								重试时间：<input type="text" name="gmtRetry"/>
							</li>

							<li>
								系统备注：<input type="text" name="memo"/>
							</li>

							<li>
								创建时间：<input type="text" name="gmtCreate"/>
							</li>

							<li>
								最后修改时间：<input type="text" name="gmtModified"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="payorder:payResultNotify:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="payorder:payResultNotify:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="payorder:payResultNotify:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="payorder:payResultNotify:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('payorder:payResultNotify:edit')}]];
        var removeFlag = [[${@permission.hasPermi('payorder:payResultNotify:remove')}]];
        var prefix = ctx + "payorder/payResultNotify";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "支付结果通知",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'notifyId', 
					title : '通知ID',
					visible: false
				},
				{
					field : 'instOrderId', 
					title : '机构订单号',
					sortable: true
				},
				{
					field : 'eventCode', 
					title : '通知事件编码',
					sortable: true
				},
				{
					field : 'notifyTarget', 
					title : '通知地址',
					sortable: true
				},
				{
					field : 'notifyData', 
					title : '通知数据',
					sortable: true
				},
				{
					field : 'notifyStatus', 
					title : '通知状态',
					sortable: true
				},
				{
					field : 'inputCharset', 
					title : '字符集编码',
					sortable: true
				},
				{
					field : 'signatureType', 
					title : '签名类型',
					sortable: true
				},
				{
					field : 'partnerId', 
					title : '合作方ID',
					sortable: true
				},
				{
					field : 'clientId', 
					title : '客户端ID',
					sortable: true
				},
				{
					field : 'serverIdentity', 
					title : '服务器标识',
					sortable: true
				},
				{
					field : 'retryingFlag', 
					title : '重试中标识',
					sortable: true
				},
				{
					field : 'retryCount', 
					title : '通知次数',
					sortable: true
				},
				{
					field : 'gmtRetry', 
					title : '重试时间',
					sortable: true
				},
				{
					field : 'memo', 
					title : '系统备注',
					sortable: true
				},
				{
					field : 'gmtCreate', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'gmtModified', 
					title : '最后修改时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.notifyId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.notifyId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>